/* Importing Bootstrap SCSS file. */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/scss/bootstrap";
/*** root ***/
:root
{
  --red-color: red;
  --white-color: white;
  --dark-color: #343a40;
}
/*** all ***/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*** body ***/
body
{
  font-size: .875rem;
}
/*** html ***/
html
{
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
  width: .6rem;
}
html::-webkit-scrollbar-track
{
  background-color: var(--dark-color);
}
html::-webkit-scrollbar-thumb
{
  background-color: rgba(255, 14, 14, 0.6);
  border-radius: 5rem;
}
/*** Table Selected ***/
tbody.table-selected tr,
tbody.table-selected td
{
  cursor: pointer;
  border: 2px solid var(--dark-color) !important;
  border-collapse: collapse !important;
}
/*** Table Suspension Style ***/
table td.suspension 
{
  position: relative;
}
table td.suspension::before 
{
  content: '';
  position: absolute;
  z-index: 99;
  width: 90vw;
  height: 1px;
  top: 50%;
  background-color: var(--red-color);
  transform: rotate(1deg);
}
/*** Table td middle ***/
table td
{
  vertical-align: middle !important;
}
/*** Table Scrollbar ***/
.table-scrollbar
{
  overflow-y: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
.table-scrollbar::-webkit-scrollbar
{
  height: .4rem;
}
.table-scrollbar::-webkit-scrollbar-track
{
  background-color: transparent;
}
.table-scrollbar::-webkit-scrollbar-thumb
{
  background-color: rgba(172, 12, 12, 0.5);
  border-radius: 5rem;
}
/*** input-group-prepend ***/
.input-group-prepend span {
  cursor: pointer;
}
/*** pagination ***/
.pagination .page-item .page-link
{
  font-size: 18px !important;
}
.pagination .page-link:focus {
  box-shadow: unset !important;
}
.pagination .page-item.active .page-link
{
  border-color: var(--red-color) !important;
}
.pagination .page-link
{
  border: var(--white-color) 2px solid;
  background-color: var(--dark-color) !important;
  color: var(--white-color) !important;
}
/*** @supports ***/
@supports ((position: -webkit-sticky) or (position: sticky))
{
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
/*** @media only screen ***/
@media (max-width: 575.99px)
{
  /*** pagination ***/
  .pagination .page-item .page-link
  {
    font-size: 12px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.99px)
{
  /*** pagination ***/
  .pagination .page-item .page-link
  {
    font-size: 14px !important;
  }
}
// @media (min-width: 768px) and (max-width: 991.99px)
// {
//   .sidebar
//   {
//     top: 5rem;
//   }
// }
// @media (min-width: 992px) and (max-width: 1199.99px)
// {

// }
// @media (min-width: 1200px)
// {

// }

/*
* Navbar
*/
// .navbar-brand {
//   padding-top: .75rem;
//   padding-bottom: .75rem;
//   font-size: 1rem;
//   background-color: rgba(0, 0, 0, .25);
//   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
// }

// .navbar .navbar-toggler {
//   top: .25rem;
//   right: 1rem;
// }

// .navbar .form-control {
//   padding: .75rem 1rem;
//   border-width: 0;
//   border-radius: 0;
// }

// .form-control-dark {
//   color: #fff;
//   background-color: rgba(255, 255, 255, .1);
//   border-color: rgba(255, 255, 255, .1);
// }

// .form-control-dark:focus {
//   border-color: transparent;
//   box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
// }

// .bd-placeholder-img {
//   font-size: 1.125rem;
//   text-anchor: middle;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// @media (min-width: 768px) {
//   .bd-placeholder-img-lg {
//     font-size: 3.5rem;
//   }
// }
