<!-- Header -->
<app-header></app-header>
<!-- /Header -->

<!-- Main -->
<div class="d-flex">
    <!-- Loading -->
    <ng-container *ngIf="is_Loading">
        <app-loading></app-loading>
    </ng-container>
    <!-- /Loading -->

    <main role="main" class="container-fluid">
        <!-- Header Content -->
        <app-content-header></app-content-header>
        <!-- /Header Content -->

        <!-- Router Outlet -->
        <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
        <!-- /Router Outlet -->

        <!-- Modal -->
        <app-modal></app-modal>
        <!-- /Modal -->
    </main>
</div>
<!-- /Main -->
<app-footer></app-footer>