<!-- Header -->
<app-header></app-header>
<!-- /Header -->

<!-- Main -->
<div class="d-flex">
    <ng-container *ngIf="is_Loading">
        <!-- Loading -->
        <app-loading></app-loading>
        <!-- /Loading -->
    </ng-container>

    <main role="main" class="container-fluid">
        <app-content-header></app-content-header>

        <!-- Router-outlet -->
        <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </router-outlet>
        <!-- /Router-outlet -->




        
<!-- Modal -->
<app-modal>

  </app-modal>
  <!-- /Modal -->
    </main>
</div>
<!-- /Main -->