/** Grid Table ***/
.grid-header
{
  display: grid;
  grid-template-columns: 28px 60px 150px 120px 120px 120px 220px 395px 130px 105px;
  grid-template-rows: 1fr;
  gap: 0 0.2em;
  font-weight: 600;
}
.grid-content
{
  display: grid;
  grid-template-columns: 28px 60px 150px 120px 120px 120px 220px 395px 130px 105px;
  gap: 0 0.2em;
  cursor: pointer;
}
/** Form Items Scroll ***/
.items-scroll
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -5px;
  margin-left: -5px;
  align-items: flex-start;
  height: 275px;
  padding-left: 2px;
  overflow-y: scroll;
  scroll-padding-top: 3px;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
}
.items-scroll::-webkit-scrollbar
{
  height: 0px;
  width: 2px;
}
.items-scroll div
{
  scroll-snap-align: start;
}
/*** @media only screen ***/
@media (max-width: 860px)
{
  /** Grid Table ***/
  .grid-header
  {
    grid-template-columns: 1fr;
    grid-template-rows: 25px 40px 40px 40px 40px 40px 100px 200px 60px 40px;
    gap: 0.2em 0;
  }
  .grid-body
  {
    padding-bottom: 3px;
  }
  .grid-content
  {
    grid-template-columns: 1fr;
    grid-template-rows: 25px 40px 40px 40px 40px 40px 100px 200px 60px 40px;
    gap: 0.2em 0;
  }
}
