/** Grid Table ***/
.grid-header
{
  display: grid;
  grid-template-columns: 26px 60px 160px 100px 120px 120px 230px 410px 50px 100px 90px;
  grid-template-rows: 1fr;
  gap: 0 0.2em;
  font-weight: 600;
}
.grid-content
{
  display: grid;
  grid-template-columns: 26px 60px 160px 100px 120px 120px 230px 410px 50px 100px 90px;
  gap: 0 0.2em;
  cursor: pointer;
}
/** Form Items Scroll ***/
// .items-scroll
// {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin-right: -5px;
//   margin-left: -5px;
//   align-items: flex-start;
//   height: 275px;
//   padding-left: 2px;
//   overflow-y: scroll;
//   scroll-padding-top: 3px;
//   scroll-snap-type: y mandatory;
//   overscroll-behavior-y: contain;
// }

.items-scroll {
  display: grid;
  grid-template-rows: repeat(1fr, 1fr);
  gap: 2px 0;
  margin-right: -8px;
  margin-left: -5px;
  padding-top: 2px;
  padding-right: 1px;
  padding-bottom: 2px;
  justify-content: center;
  max-height: 268px;
  overflow-y: scroll;
  scroll-padding-top: 2px;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
}
.items-scroll::-webkit-scrollbar
{
  height: 0px;
  width: 2px;
}
.items-scroll div
{
  scroll-snap-align: start;
}
/*** @media only screen ***/
@media (max-width: 860px)
{
  /** Grid Table ***/
  .grid-header
  {
    grid-template-columns: 1fr;
    grid-template-rows: 25px 40px 40px 40px 40px 40px 100px 205px 25px 35px 30px;
    gap: 0.2em 0;
  }
  .grid-content
  {
    grid-template-columns: 1fr;
    grid-template-rows: 25px 40px 40px 40px 40px 40px 100px 205px 25px 35px 30px;
    gap: 0.2em 0;
  }
}
