/** Grid Table ***/
.grid-header
{
  display: grid;
  grid-template-columns: 26px 145px 150px 150px 150px 150px 75px 50px 485px 90px;
  grid-template-rows: 1fr;
  gap: 0 0.2em;
  font-weight: 600;
}
.grid-content
{
  display: grid;
  grid-template-columns: 26px 145px 150px 150px 150px 150px 75px 50px 485px 90px;
  gap: 0 0.2em;
  cursor: pointer;
}
/** Form Items Scroll ***/
.items-scroll
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -5px;
  margin-left: -5px;
  align-items: flex-start;
  height: 272px;
  padding-left: 2px;
  overflow-y: scroll;
  scroll-padding-top: 3px;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
}
.items-scroll::-webkit-scrollbar
{
  height: 0px;
  width: 2px;
}
.items-scroll div
{
  scroll-snap-align: start;
}
/*** Date Input ***/
.datetime-font-size
{
  font-size: .8em;
}
/*** @media only screen ***/
@media (max-width: 860px)
{
  /** Grid Table ***/
  .grid-header
  {
    grid-template-columns: 1fr;
    grid-template-rows: 22px 40px 40px 40px 110px 110px 25px 25px 185px 24px;
    gap: 0.2em 0;
  }
  .grid-content
  {
    grid-template-columns: 1fr;
    grid-template-rows: 22px 40px 40px 40px 110px 110px 25px 25px 185px 24px;
    gap: 0.2em 0;
  }
}