<!-- Form -->
<div class="container-lg border border-dark p-2 mt-2 mb-2">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nam.
</div>
<!-- /Form -->

<!-- Grid Table -->
<div class="grid-container">
  <div class="grid-header">
    <div>#</div>
    <div>工號姓名</div>
    <div>一般工時</div>
    <div>加班工時</div>
    <div>工單</div>
    <div>機種</div>
    <div>站別</div>
    <div>數量</div>
    <div>備註</div>
    <div>時間</div>
  </div>
  <div class="grid-body">
    <!-- <div class="grid-body"
    [ngStyle]="{'grid-template-rows': result_List.length ? 'repeat('+result_List.length+', 1fr)':'repeat(1, 1fr)'}"> -->
    <div class="grid-content" *ngFor="let item of result_List; let i = index" (click)="user.e_Lv > 1 && choose(item)" [ngClass]="{'grid-selected': item?.w_Id == fb_Value_Index[0]}">
      <div>{{i+1}}</div>
      <div>
        <span>
          {{ item.w_JobNumber }} {{ item.e_Name }}
        </span>
      </div>
      <div>
        <span>
          {{ item.w_BTotal }}分 | 已扣除{{ item.w_BDeduct }}
        </span>
      </div>
      <div>
        <span>
          {{ item.w_OTotal }}分 | 已扣除{{ item.w_ODeduct }}
        </span>
      </div>
      <div>
        <div *ngFor="let val of item.w_Quantity.split(','); let y = index" wn>
          <span>
            {{ item.w_WorkOrder | splite:y }}
          </span>
        </div>
      </div>
      <div>
        <div *ngFor="let val of item.w_Quantity.split(','); let y = index" wn>
          <span>
          {{ item.w_Model | splite:y }}
          </span>
        </div>
      </div>
      <div>
        <div *ngFor="let val of item.w_Quantity.split(','); let y = index" wn>
          <span>
          {{ item.w_Stand | splite:y }}
          <!-- {{ item.w_Stand | splite:y }} {{item.s_Title}} -->
          </span>
        </div>
      </div>
      <div>
        <div *ngFor="let val of item.w_Quantity.split(','); let y = index" wn>
          <span>
            {{ item.w_Quantity | splite:y }}
          </span>
        </div>
      </div>
      <div>
        <div *ngFor="let val of item.w_Quantity.split(','); let y = index" wn>
          <span>
            {{ item.w_Remark | splite:y }}
          </span>
        </div>
      </div>
      <div>
        {{ item.w_Date | date: 'yyyy-MM-dd' }}
      </div>
    </div>
  </div>
</div>
<!-- <div class="table-responsive table-scrollbar">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <tr align="center">
        <th scope="col">工號姓名</th>
        <th scope="col">一般工時</th>
        <th scope="col">加班工時</th>
        <th scope="col">工單</th>
        <th scope="col">機種</th>
        <th scope="col">站別</th>
        <th scope="col">數量</th>
        <th scope="col">備註</th>
        <th scope="col">時間</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of result_List; let i = index"
      [ngClass]="{'table-selected': item?.w_Id == fb_Value_Index[0], 'more': item.w_WorkOrder.split(',').length}" (click)="user.e_Lv > 1 && choose(item)">
      <tr align="center" *ngFor="let val of item.w_WorkOrder.split(','); let y = index">
        <td [attr.rowspan]="y" [class.d-none]="y" title="{{ item.w_JobNumber }} {{ item.e_Name }}">
            {{ item.w_JobNumber }} {{ item.e_Name }}
        </td>
        <td [attr.rowspan]="y" [class.d-none]="y" [ngClass]="[item.w_BTotal < 0 ? 'text-danger':'text-truncate']" title="{{ item.w_BTotal }}分 | 已扣除{{ item.w_BDeduct }}">
          {{ item.w_BTotal }}分 | 已扣除{{ item.w_BDeduct }}
        </td>
        <td [attr.rowspan]="y" [class.d-none]="y" [ngClass]="[item.w_OTotal < 0 ? 'text-danger ':'text-truncate']" title="{{ item.w_OTotal }}分 | 已扣除{{ item.w_ODeduct }}">
            {{ item.w_OTotal }}分 | 已扣除{{ item.w_ODeduct }}
        </td>
        <td>{{ item.w_WorkOrder | splite:y }}</td>
        <td>{{ item.w_Model | splite:y }}</td>
        <td>{{ item.w_Stand | splite:y }} {{item.s_Title}}</td>
        <td>{{ item.w_Quantity | splite:y }}</td>
        <td class="text-break">{{ item.w_Remark | splite:y }}</td>
        <td *ngIf="!y" [attr.rowspan]="y">
          <span *ngIf="!y">
            {{ item.w_Date | date: 'yyyy-MM-dd' }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- /Grid Table -->

<!-- Pagination -->
<div class="d-flex justify-content-center pagination pagination-sm mt-2">
  <ngb-pagination [collectionSize]="result_Data.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="100" [rotate]="true"
    [boundaryLinks]="true" (pageChange)="refreshResult_List()"></ngb-pagination>
</div>
<!-- /Pagination -->

<ng-template #form_>
  <!-- Form -->
  <form [formGroup]="fbGroup" #form="ngForm">
    <div class="form-row pb-1">
      <!-- JobNumber -->
      <div class="input-group input-group-sm col">
        <div class="input-group-prepend">
          <span class="input-group-text p-1">工號</span>
        </div>
        <input type="text" class="form-control form-control-sm text-center" [value]="fb_Value['w_JobNumber'].value"
          readonly>
      </div>
      <!-- Name -->
      <div class="input-group input-group-sm col">
        <div class="input-group-prepend">
          <span class="input-group-text p-1">姓名</span>
        </div>
        <input type="text" class="form-control form-control-sm text-center" [value]="user.e_Name" readonly>
      </div>
      <!-- Date -->
      <div class="input-group input-group-sm col">
        <input type="date" id="w_Date" class="form-control form-control-sm text-center"
          [value]="fb_Value['w_Date'].value" (input)="onDate($event.target)">
        <div class="input-group-append">
          <span class="input-group-text p-1" [class.text-danger]="errorValidators['w_Date'].length">
            {{ errorValidators['w_Date'].length ? errorValidators['w_Date'] : "日期" }}
          </span>
        </div>
      </div>
    </div>

    <!-- BMinute -->
    <div class="form-row border border-dark mb-1 pt-1 pb-1">
      <!-- BDeduct -->
      <div class="input-group input-group-sm col-md-12 mb-0 d-inline-flex d-flex justify-content-center">
        <div class="input-group-prepend mb-1">
          <span class="input-group-text bg-white">一般工時</span>
          <!-- Clock Icon -->
          <i class="bi bi-clock input-group-text ml-1 mr-1 bg-white"></i>

          <span class="input-group-text font-weight-bold mr-1"
            [class.text-danger]="fb_Value['w_BTotal'].value < 0 || errorValidators['w_BTotal'].length">
            {{ fb_Value['w_BTotal'].value }}
          </span>
          <span class="input-group-text font-weight-bold">-</span>
        </div>

        <input type="number" id="bDeduct" class="form-control form-control-sm col-2" step="5" min="0" max="100"
          formControlName="w_BDeduct" (input)="deduct_Change('w_BMinute')">
      </div>
      <!-- BMinute Start -->
      <div class="input-group input-group-sm col-md-6">
        <input type="datetime-local" id="SbMinute" step="3600" [min]="dateTime_Min" [max]="dateTime_Max"
          class="form-control form-control-sm" [value]="onValue('SbMinute')" (input)="onDate($event.target)">
        <div class="input-group-prepend">
          <span class="input-group-text p-1">開始</span>
        </div>
      </div>
      <!-- BMinute End -->
      <div class="input-group input-group-sm col-md-6">
        <input type="datetime-local" id="EbMinute" step="3600" [min]="dateTime_Min" [max]="dateTime_Max"
          class="form-control form-control-sm" [value]="onValue('EbMinute')" (input)="onDate($event.target)">
        <div class="input-group-append">
          <span class="input-group-text p-1">結束</span>
        </div>
      </div>
    </div>

    <!-- OMinute -->
    <div class="form-row border border-dark mb-1 pt-1 pb-1">
      <!-- ODeduct -->
      <div class="input-group input-group-sm col-md-12 mb-0 d-inline-flex d-flex justify-content-center">
        <div class="input-group-prepend mb-1">
          <span class="input-group-text bg-white">加班工時</span>
          <!-- Clock Icon -->
          <i class="bi bi-clock input-group-text ml-1 mr-1 bg-white"></i>

          <span class="input-group-text font-weight-bold mr-1"
            [class.text-danger]="fb_Value['w_OTotal'].value < 0 || errorValidators['w_OTotal'].length">
            {{ fb_Value['w_OTotal'].value }}
          </span>
          <span class="input-group-text font-weight-bold">-</span>
        </div>

        <input type="number" id="oDeduct" class="form-control form-control-sm col-2" step="5" min="0" max="100"
          formControlName="w_ODeduct" (input)="deduct_Change('w_OMinute')">
      </div>

      <!-- OMinute Start -->
      <div class="input-group input-group-sm col-md-6">
        <input type="datetime-local" id="SoMinute" step="3600" [min]="dateTime_Min" [max]="dateTime_Max"
          class="form-control form-control-sm" [value]="onValue('SoMinute')" (input)="onDate($event.target)">
        <div class="input-group-prepend">
          <span class="input-group-text p-1">開始</span>
        </div>
      </div>

      <!-- OMinute End -->
      <div class="input-group input-group-sm col-md-6">
        <input type="datetime-local" id="EoMinute" step="3600" [min]="dateTime_Min" [max]="dateTime_Max"
          class="form-control form-control-sm" [value]="onValue('EoMinute')" (input)="onDate($event.target)">
        <div class="input-group-append">
          <span class="input-group-text p-1">結束</span>
        </div>
      </div>
    </div>

    <!-- FormArray -->
    <div class="form-row border border-dark mb-1"
      *ngFor="let val of [].constructor(fb_Value['w_WorkOrder'].value.length) let i = index">
      <div class="form-row col-12 position-relative">
        <!-- Icon Button -->
        <i [ngClass]="['bi text-info h6 position-absolute icon-btn', i>0 ? 'text-danger bi-dash-square' : 'text-info bi-plus-square']"
          [title]="i>0 ? '刪除':'新增'" (click)="reset_FormArray(i)">
        </i>
        <!-- workOrder -->
        <div class="form-group col text-center mb-1" formArrayName="w_WorkOrder">
          <label [class.text-danger]="errorValidators['w_WorkOrder'][i].length && true">
            {{ errorValidators['w_WorkOrder'][i].length && fb_Value['w_WorkOrder'].get(''+i).touched ?
            errorValidators['w_WorkOrder'][i] : "工單" }}
          </label>
          <input type="text" class="form-control form-control-sm" [formControlName]="i" placeholder="工單"
            (blur)="inputValidators(fbGroup, 'w_WorkOrder', i)">
        </div>
        <!-- Model -->
        <div class="form-group col text-center mb-1" formArrayName="w_Model">
          <label [class.text-danger]="errorValidators['w_Model'][i].length && true">
            {{ errorValidators['w_Model'][i].length && fb_Value['w_WorkOrder'].get(''+i).touched ?
            errorValidators['w_Model'][i] : "機種" }}
          </label>
          <input type="text" class="form-control form-control-sm" [formControlName]="i" placeholder="機種"
            (blur)="inputValidators(fbGroup, 'w_Model', i)">
        </div>
        <!-- Stand -->
        <div class="form-group col text-center mb-1" formArrayName="w_Stand">
          <label [class.text-danger]="errorValidators['w_Stand'][i].length && true">
            {{ errorValidators['w_Stand'][i].length && fb_Value['w_WorkOrder'].get(''+i).touched ?
            errorValidators['w_Stand'][i] : "站別" }}
          </label>
          <!-- <input class="form-control form-control-sm" [formControlName]="i" [attr.list]="'standtOptions'+i" id="stand"
          placeholder="站別" (blur)="inputValidators(fbGroup, 'w_Stand', i)">
        <datalist [id]="'standtOptions'+i">
          <option *ngFor="let item of standList$ | async; index as i" [value]="item.s_Code"> {{item.s_Title}}
        </datalist> -->
          <select id="lv" class="form-control text-center custom-select" [formControlName]="i"
            (blur)="inputValidators(fbGroup, 'w_Stand', i)">
            <option *ngFor="let item of standList$ | async; index as i" [value]="item.s_Code">
              {{item.s_Code}} {{item.s_Title}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row col-12">
        <!-- Quantity -->
        <div class="form-group col-2 text-center mb-1" formArrayName="w_Quantity">
          <label [class.text-danger]="errorValidators['w_Quantity'][i].length && true">
            {{ errorValidators['w_Quantity'][i].length ? errorValidators['w_Quantity'][i] : "數量" }}
          </label>
          <input type="number" class="form-control form-control-sm text-center" step="1" min="0" max="999"
            [formControlName]="i" (blur)="inputValidators(fbGroup, 'w_Quantity', i)">
        </div>
        <!-- Remark -->
        <div class="form-group col-10 text-center mb-1" formArrayName="w_Remark">
          <label [class.text-danger]="errorValidators['w_Remark'][i].length && true">
            {{ errorValidators['w_Remark'][i] ? errorValidators['w_Remark'][i] : "備註" }}
          </label>
          <input type="text" class="form-control form-control-sm" [formControlName]="i" placeholder="備註"
            (blur)="inputValidators(fbGroup, 'w_Remark', i)">
        </div>
      </div>
    </div>
  </form>
  <!-- /Form -->
</ng-template>