<!-- Form -->
<div class="container-lg border border-dark p-2 mt-2 mb-2">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nam.
</div>
<!-- /Form -->

<!-- Table -->
<div class="table-responsive table-scrollbar">
  <table class="table table-bordered table-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">工號</th>
        <th scope="col">一般工時</th>
        <th scope="col">加班工時</th>
        <th scope="col">工單</th>
        <th scope="col">機種</th>
        <th scope="col">站別</th>
        <th scope="col">數量</th>
        <th scope="col">備註</th>
        <th scope="col">時間</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of result_List; let i = index" [ngClass]="{'table-dark': item?.w_Id == fb_Value_Index[0]}"
      (click)="choose(item)">
      <tr *ngFor="let val of item.w_WorkOrder.split(','); let y = index">
        <td *ngIf="!y" [attr.rowspan]="y" align="center" style="vertical-align: middle;">
          <span *ngIf="!y">
            {{ item.w_JobNumber }} {{ item.e_Name }}
          </span>
        </td>
        <td *ngIf="!y" [attr.rowspan]="y" [ngClass]="[item.w_BTotal < 0 ? 'text-danger':'text-truncate']" align="center"
          style="vertical-align: middle;">
          <span *ngIf="!y">
            {{ item.w_BTotal }}分 | 已扣除{{ item.w_BDeduct }}
          </span>
        </td>
        <td *ngIf="!y" [attr.rowspan]="y" [ngClass]="[item.w_OTotal < 0 ? 'text-danger':'text-truncate']" align="center"
          style="vertical-align: middle;">
          <span *ngIf="!y">
            {{ item.w_OTotal }}分 | 已扣除{{ item.w_ODeduct }}
          </span>
        </td>
        <td>{{ item.w_WorkOrder | splite:y }}</td>
        <td>{{ item.w_Model | splite:y }}</td>
        <td>{{ item.w_Stand | splite:y }} {{item.s_Title}}</td>
        <td>{{ item.w_Quantity | splite:y }}</td>
        <td>{{ item.w_Remark | splite:y }}</td>
        <td *ngIf="!y" [attr.rowspan]="y" align="center" style="vertical-align: middle;">
          <span *ngIf="!y">
            {{ item.w_Time | date: 'yyyy-MM-dd' }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /Table -->

<ng-template #form_>
  <!-- Form -->
  <form [formGroup]="fbGroup" #form="ngForm">
    <div class="form-row pb-1">
      <!-- JobNumber -->
      <div class="input-group input-group-sm col">
        <div class="input-group-prepend">
          <span class="input-group-text p-1">工號</span>
        </div>
        <input type="text" class="form-control form-control-sm text-center" [value]="fb_Value['w_JobNumber'].value"
          readonly>
      </div>
      <!-- Name -->
      <div class="input-group input-group-sm col">
        <div class="input-group-prepend">
          <span class="input-group-text p-1">姓名</span>
        </div>
        <input type="text" class="form-control form-control-sm text-center" [value]="user.name" readonly>
      </div>
      <!-- DateTime -->
      <div class="input-group input-group-sm col">
        <input type="date" id="w_Time" class="form-control form-control-sm text-center"
          [value]="fb_Value['w_Time'].value" (input)="onDate($event.target)">
        <div class="input-group-append">
          <span class="input-group-text p-1" [class.text-danger]="errorValidators['w_Time'].length">
            {{ errorValidators['w_Time'].length ? errorValidators['w_Time'] : "日期" }}
          </span>
        </div>
      </div>
    </div>

    <!-- BMinute -->
    <div class="form-row border border-dark mb-1 pt-1 pb-1">
      <!-- BDeduct -->
      <div class="input-group input-group-sm col-md-12 mb-0 d-inline-flex d-flex justify-content-center">
        <div class="input-group-prepend mb-1">
          <span class="input-group-text bg-white">一般工時</span>
          <!-- Clock Icon -->
          <i class="bi bi-clock input-group-text ml-1 mr-1 bg-white"></i>

          <span class="input-group-text font-weight-bold mr-1"
            [class.text-danger]="fb_Value['w_BTotal'].value < 0 && errorValidators['w_BTotal'].length">
            {{ fb_Value['w_BTotal'].value }}
          </span>
          <span class="input-group-text font-weight-bold">-</span>
        </div>

        <input type="number" id="bDeduct" class="form-control form-control-sm col-2" step="5" min="0" max="100"
          formControlName="w_BDeduct" (input)="deduct_Change('w_BMinute')">
      </div>
      <!-- BMinute Start -->
      <div class="input-group input-group-sm col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text p-1">開始</span>
        </div>
        <input type="datetime-local" id="SbMinute" step="3600" class="form-control form-control-sm"
          [value]="onValue('SbMinute')" (input)="onDate($event.target)">
      </div>
      <!-- BMinute End -->
      <div class="input-group input-group-sm col-md-6">
        <input type="datetime-local" id="EbMinute" step="3600" class="form-control form-control-sm "
          [value]="onValue('EbMinute')" (input)="onDate($event.target)">
        <div class="input-group-append">
          <span class="input-group-text p-1">結束</span>
        </div>
      </div>
    </div>

    <!-- OMinute -->
    <div class="form-row border border-dark mb-1 pt-1 pb-1">
      <!-- ODeduct -->
      <div class="input-group input-group-sm col-md-12 mb-0 d-inline-flex d-flex justify-content-center">
        <div class="input-group-prepend mb-1">
          <span class="input-group-text bg-white">加班工時</span>
          <!-- Clock Icon -->
          <i class="bi bi-clock input-group-text ml-1 mr-1 bg-white"></i>

          <span class="input-group-text font-weight-bold mr-1"
            [class.text-danger]="fb_Value['w_OTotal'].value < 0 && errorValidators['w_OTotal'].length">
            {{ fb_Value['w_OTotal'].value }}
          </span>
          <span class="input-group-text font-weight-bold">-</span>
        </div>

        <input type="number" id="oDeduct" class="form-control form-control-sm col-2" step="5" min="0" max="100"
          formControlName="w_ODeduct" (input)="deduct_Change('w_OMinute')">
      </div>

      <!-- OMinute Start -->
      <div class="input-group input-group-sm col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text p-1">開始</span>
        </div>
        <input type="datetime-local" id="SoMinute" step="3600" class="form-control form-control-sm"
          [value]="onValue('SoMinute')" (input)="onDate($event.target)">
      </div>

      <!-- OMinute End -->
      <div class="input-group input-group-sm col-md-6">
        <input type="datetime-local" id="EoMinute" step="3600" class="form-control form-control-sm "
          [value]="onValue('EoMinute')" (input)="onDate($event.target)">
        <div class="input-group-append">
          <span class="input-group-text p-1">結束</span>
        </div>
      </div>
    </div>

    <!-- FormArray -->
    <div class="form-row border border-dark mb-1"
      *ngFor="let val of [].constructor(fb_Value['w_WorkOrder'].value.length) let i = index">
      <div class="form-row col-12 position-relative">
        <!-- Icon Button -->
        <i [ngClass]="['bi text-info h6 position-absolute', i>0 ? 'text-danger bi-dash-square' : 'text-info bi-plus-square']"
          [title]="i>0 ? '刪除':'新增'" style="top: 5px; right:5px; cursor: pointer; z-index: 999;"
          (click)="reset_FormArray(i)">
        </i>
        <!-- workOrder -->
        <div class="form-group col text-center mb-1" formArrayName="w_WorkOrder">
          <label [class.text-danger]="errorValidators['w_WorkOrder'][i].length && true">
            {{ errorValidators['w_WorkOrder'][i].length && fb_Value['w_WorkOrder'].get(''+i).touched ?
            errorValidators['w_WorkOrder'][i] : "工單" }}
          </label>
          <input type="text" class="form-control form-control-sm" [formControlName]="i" placeholder="工單"
            (blur)="inputValidators(fbGroup, 'w_WorkOrder', i)">
        </div>
        <!-- Model -->
        <div class="form-group col text-center mb-1" formArrayName="w_Model">
          <label [class.text-danger]="errorValidators['w_Model'][i].length && true">
            {{ errorValidators['w_Model'][i].length && fb_Value['w_WorkOrder'].get(''+i).touched ?
            errorValidators['w_Model'][i] : "機種" }}
          </label>
          <input type="text" class="form-control form-control-sm" [formControlName]="i" placeholder="機種"
            (blur)="inputValidators(fbGroup, 'w_Model', i)">
        </div>
        <!-- Stand -->
        <div class="form-group col text-center mb-1" formArrayName="w_Stand">
          <label [class.text-danger]="errorValidators['w_Stand'][i].length && true">
            {{ errorValidators['w_Stand'][i].length && fb_Value['w_WorkOrder'].get(''+i).touched ?
            errorValidators['w_Stand'][i] : "站別" }}
          </label>
          <input class="form-control form-control-sm" [formControlName]="i" [attr.list]="'standtOptions'+i" id="stand"
            placeholder="站別" (blur)="inputValidators(fbGroup, 'w_Stand', i)">
          <datalist [id]="'standtOptions'+i">
            <option *ngFor="let item of standList$ | async; index as i" [value]="item.s_Code"> {{item.s_Title}}
          </datalist>
        </div>
      </div>

      <div class="form-row col-12">
        <!-- Quantity -->
        <div class="form-group col-2 text-center mb-1" formArrayName="w_Quantity">
          <label [class.text-danger]="errorValidators['w_Quantity'][i].length && true">
            {{ errorValidators['w_Quantity'][i].length ? errorValidators['w_Quantity'][i] : "數量" }}
          </label>
          <input type="number" class="form-control form-control-sm" step="1" min="0" max="999" [formControlName]="i"
            (blur)="inputValidators(fbGroup, 'w_Quantity', i)">
        </div>

        <!-- Remark -->
        <div class="form-group col-10 text-center mb-1" formArrayName="w_Remark">
          <label [class.text-danger]="errorValidators['w_Remark'][i].length && true">
            {{ errorValidators['w_Remark'][i] ? errorValidators['w_Remark'][i] : "備註" }}
          </label>
          <input type="text" class="form-control form-control-sm" [formControlName]="i" placeholder="備註"
            (blur)="inputValidators(fbGroup, 'w_Remark', i)">
        </div>
      </div>
    </div>
  </form>
  <!-- /Form -->
</ng-template>