<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header text-center">
    <h4 class="modal-title">Modal</h4>
  </div>

  <div class="modal-body">
    <ng-container *ngTemplateOutlet="form"></ng-container>
  </div>

  <ng-container *ngTemplateOutlet="alert"></ng-container>

  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">取消</button>
    <button type="submit" class="btn btn-outline-dark" (click)="submit()" [disabled]="!this.fbGroup.valid">確定</button>
  </div>
</ng-template>

<ng-template #alert>
  <div appAlerts></div>
</ng-template>