<!-- Form -->
<div class="container-lg border border-dark p-2 mt-2 mb-2">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nam.
</div>
<!-- /Form -->

<!-- Table -->
<div class="table-responsive table-scrollbar">
  <table class="table table-bordered table-sm table-hover">
    <!-- <table class="table table-striped"> -->
    <thead class="thead-dark">
      <tr align="center">
        <th scope="col">#</th>
        <th scope="col">姓名</th>
        <th scope="col">信箱</th>
        <th scope="col">工號</th>
        <th scope="col">權限</th>
        <th scope="col">年資</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of result_List; let i = index"
      [ngClass]="{'table-selected': item?.e_Id == fb_Value_Index[0]}" (click)="choose(item)">
      <!-- <tr *ngFor="let item of result_Async$ | async; index as i" [ngClass]="{'text-light bg-dark': item?.e_Id == fb_Value['e_Id'].value}" (click)="choose(item)"> -->
      <tr>
        <td [class.suspension]="item.e_Lv == '0'">{{ i+1 }}</td>
        <td>{{ item.e_Name }}</td>
        <td>{{ item.e_Email }}</td>
        <td>{{ item.e_JobNumber }}</td>
        <td>
          <ngb-rating [rate]="item.e_Lv" readonly="true" class="h6"></ngb-rating>
        </td>
        <td>
          <span>
            {{ item.e_Date | splite:2 }}年
          </span>
          /
          <span>
            {{ item.e_Date | splite:3 }}月
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /Table -->

<!-- Pagination -->
<div class="d-flex justify-content-center pagination pagination-sm mt-2">
  <ngb-pagination [collectionSize]="result_Data.length" [(page)]="page" [pageSize]="10" [maxSize]="100" [rotate]="true"
    [boundaryLinks]="true" (pageChange)="refreshResult_List()"></ngb-pagination>
</div>
<!-- /Pagination -->

<ng-template #form_>
  <!-- Form -->
  <form [formGroup]="fbGroup" #form="ngForm">
    <!-- Name -->
    <div class="form-group row">
      <label for="name" class="col-3 col-form-label" *ngIf="!errorValidators['e_Name'].length; else e_Name">姓名</label>

      <ng-template #e_Name>
        <label for="name" class="col-3 col-form-label text-danger">{{ errorValidators['e_Name'] }}</label>
      </ng-template>

      <div class="col">
        <input type="text" id="name" class="form-control" formControlName="e_Name" placeholder="姓名"
          (blur)="inputValidators(fbGroup, 'e_Name')">
      </div>
    </div>

    <!-- Job Number -->
    <div class="form-group row">
      <label for="jobNumber" class="col-3 col-form-label"
        *ngIf="!errorValidators['e_JobNumber'].length; else e_JobNumber">工號</label>

      <ng-template #e_JobNumber>
        <label for="jobNumber" class="col-3 col-form-label text-danger">{{ errorValidators['e_JobNumber']
          }}</label>
      </ng-template>

      <div class="col">
        <input type="text" id="jobNumber" class="form-control" formControlName="e_JobNumber" placeholder="工號"
          (blur)="inputValidators(fbGroup, 'e_JobNumber')">
      </div>
    </div>

    <!-- Password -->
    <div class="form-group row">
      <label for="passWord" class="col-3 col-form-label"
        *ngIf="!errorValidators['e_PassWord'].length; else e_PassWord">密碼</label>

      <ng-template #e_PassWord>
        <label for="passWord" class="col-3 col-form-label text-danger">{{ errorValidators['e_PassWord'] }}</label>
      </ng-template>

      <div class="col" [class.pr-1]="!fb_Value_Index[0]">
        <div class="input-group input-group-md">
          <input type="password" id="passWord" class="form-control" formControlName="e_PassWord" placeholder="密碼"
            (blur)="inputValidators(fbGroup, 'e_PassWord')" autocomplete="false" #passWord_Type>

          <div class="input-group-prepend">
            <span class="input-group-text"
              (click)="passWord_Type.type == 'text' ? passWord_Type.type = 'password': passWord_Type.type = 'text'">
              <i [ngClass]="passWord_Type.type == 'password' ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
            </span>
          </div>
        </div>
      </div>

      <ng-container *ngIf="!fb_Value_Index[0]">
        <!-- ConfirmPassword -->
        <div class="col pl-1">
          <div class="input-group input-group-md">
            <input type="password" class="form-control" formControlName="e_ConfirmPassword" placeholder="確認密碼"
              (blur)="inputValidators(fbGroup, 'e_ConfirmPassword')" autocomplete="false" #e_ConfirmPassword_Type>

            <div class="input-group-prepend">
              <span class="input-group-text"
                (click)="e_ConfirmPassword_Type.type == 'text' ? e_ConfirmPassword_Type.type = 'password': e_ConfirmPassword_Type.type = 'text'">
                <i
                  [ngClass]="{'bi bi-eye-slash-fill': e_ConfirmPassword_Type.type == 'password', 'bi bi-eye-fill': e_ConfirmPassword_Type.type == 'password', 'text-danger': errorValidators['e_ConfirmPassword'].length}"></i>
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Email -->
    <div class="form-group row">
      <label for="email" class="col-3 col-form-label"
        *ngIf="!errorValidators['e_Email'].length; else e_Email">信箱</label>

      <ng-template #e_Email>
        <label for="email" class="col-3 col-form-label text-danger">{{ errorValidators['e_Email']
          }}</label>
      </ng-template>

      <div class="col">
        <input type="email" id="email" class="form-control" formControlName="e_Email" placeholder="信箱"
          (blur)="inputValidators(fbGroup, 'e_Email')">
      </div>
    </div>

    <!-- Level -->
    <div class="form-group row">
      <label for="lv" class="col-3 col-form-label">權限</label>
      <div class="col-3">
        <!-- <ngb-rating [formControl]="fb_Value['e_Lv']" [readonly]="user.lv < 2" class="h3"></ngb-rating> -->
        <ngb-rating [rate]="fb_Value['e_Lv'].value" readonly="true" class="h4"></ngb-rating>
      </div>
      <div class="col-6">
        <select id="lv" class="form-control text-center custom-select" formControlName="e_Lv">
          <option value="0" [selected]="fb_Value['e_Lv'].value == 0">
            停權
          </option>
          <option value="1" [selected]="fb_Value['e_Lv'].value == 1">
            普通
          </option>
          <option value="2" [selected]="fb_Value['e_Lv'].value == 2">
            中級
          </option>
          <option value="3" [selected]="fb_Value['e_Lv'].value == 3">
            高級
          </option>
        </select>
      </div>
    </div>
    <!-- Date Start-->
    <div class="form-group row" formArrayName="e_Date">
      <label for="Sdate" class="col-3 col-form-label">入職</label>
      <div class="col">
        <input type="date" id="Sdate" class="form-control" formControlName="0" (input)="onDate($event.target)"
          (blur)="inputValidators(fbGroup, 'e_Date', 0)">
      </div>
    </div>

    <!-- Date End-->
    <div class="form-group row" formArrayName="e_Date">
      <label for="Edate" class="col-3 col-form-label">在職</label>
      <div class="col">
        <input type="date" id="Edate" class="form-control" formControlName="1" (input)="onDate($event.target)"
          (blur)="inputValidators(fbGroup, 'e_Date', 1)">
      </div>
    </div>
    <!-- <div class="mb-2">
      <label for="dateOfBirth">權限</label>
      <div class="input-group">
        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
      </div>
    </div> -->
  </form>
  <!-- /Form -->
</ng-template>